<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Journal</title>
</head>
<body>
    <!-- logic for date format-->
    <% let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }%>
   


    <div class="nav">

        <h6>this are is going to be a navigation</h6>
    </div>
    <div>
        <h6 class="u-pull-right"><%= new Date().toLocaleDateString('en-US', options) %></h6>
    </div>
    

  

<div class="header">
    
    <h5 class="u-pull-left">All Entries</h5>

   <a class="u-pull-right" href="/entries/new"><h5>+</h5></a>

</div>  

<div class="body">

    <div class="entry">
      

    <% for (let i = 0; i < entries.length; i++) {%>
         
        <ul>
               <!-- logic to delete an entry-->

        <form  action="/entries/<%= entries[i].id %>?_method=DELETE" method="POST">

            <li><a href="/entries/<%=entries[i].id %>"><%= entries[i].title.toUpperCase() %></a>

            <input class="u-pull-right"type="submit" value="Delete"/></li>
       
            <!-- Logic to check if entries were made today-->

            <% let entryDate = entries[i].date.toLocaleDateString('en-US', options) %>
            <% let todaysDate = new Date().toLocaleDateString('en-US', options) %>
            <% if (entryDate === todaysDate) { %> 

           
               <li>today at <%= entries[i].date.toLocaleTimeString
                ('en-US', {hour: '2-digit', minute: '2-digit'})%></li>
        
                <% } else { %> 

                  <li><%= entries[i].date.toLocaleDateString('en-US', options) %></li>

                    <% } %>
  
         </ul>

        </form>
                <% } %>
            </div>
       
        </div>
</body>
</html>